@model IEnumerable<RegistrationApp.Models.Registration>
@{
    ViewData["Title"] = "Index";
}

<p class="mt-5">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" x`><i class="fa fa-info-circle" style="color:forestgreen"></i></a> |
                    <a href="javascript:void(0)" onclick="ConfirmDelete('@item.Id')"><i class="fa fa-trash-o" style="color:red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    function ConfirmDelete(itemId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: "Yes delete it!",
            cancelButtonText: "Cancel",
            reverseButton: true

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "Register", new { id = "_id_" })'.replace("_id_", itemId);
            }
        });
        // if (confirm("Are you sure you want to delete this user?")) {
        //     window.location.href = '@Url.Action("Delete", "Register", new { id = "_id_" })'.replace("_id_", itemId);
        // }
    }
</script>
